body {
  background-color: #a5965ca3;
}

h1 {
  color: #ff9500;
  /* border:  6px solid #58428d; */
  /* border:  6px dotted #58428d; */
  /* border:  6px dashed #58428d; */
  /* border:  6px double #58428d; */
  /* border:  6px groove #58428d; */
  /* border:  6px ridge #58428d; */
  /* border:  6px inset #58428d; */
  /* border:  6px outset #58428d; */
  /* border:  6px hidden #58428d; */
  /* border:  6px none #58428d; */
  border-top: 6px ridge #58428d;
  border-bottom: 6px ridge #1d614c;
  border-left: 6px ridge #a9ab41;
  border-right: 6px ridge #a242a0;
  border-radius: 15px;
  text-align: center;
  background: linear-gradient(to right, red, blue);
  /* margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 150px; */
  padding: 15px;
  margin: 150px 50px 150px 50px;
}

p {
  color: chocolate;
  margin-bottom: 40px;
  /* padding: 15px 50px 15px 50px; */
}

h2 {
  color: #ff9500;
  text-align: center;
  margin-bottom: 40px;
}

div > p {
  color: rgb(43, 0, 255);
}
div {
  margin: 50px;
  font-size: 0.55rem;
}
.example-background-with-image {
  /* text-align: center; */
  /* height: 600px; */
  /* background-color: green; */
  /* background-image: url("../img/juju.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  height: 300px;
  background: green url("../img/juju.jpg") no-repeat center / 100% 100%;
  margin-bottom: 40px;
  border-top: 6px ridge #58428d;
  border-bottom: 6px ridge #1d614c;
  border-left: 6px ridge #a9ab41;
  border-right: 6px ridge #a242a0;
  border-radius: 15px;
  padding: 15px;

}

.button {
  background: linear-gradient(to right, red, blue);
  border-top: 6px ridge #58428d;
  border-bottom: 6px ridge #1d614c;
  border-left: 6px ridge #a9ab41;
  border-right: 6px ridge #a242a0;
  border-radius: 15px;
  padding: 15px;
  text-decoration: none;
  color: black;
  width: 100px;
  height: 100px;
}

.button:hover {
  background: linear-gradient(to right, blue, red);
  color: white;
}

  
.test {
  width: 100px;
  height: 100px;

}