body {
    background: #ccc;
}

p {
    /* color: red; */
    font-size: 36px;
}

.vermelho {
    color: red;
}

.center {
    text-align: center;
}

.fonte-30 {
    font-size: 30px;
}

#teste {
    color: blue;
    background: yellow;
}